{% extends "core/base.html" %}


{% block content %}

{% for message in messages %}


<style>
        h5{
            color:red;
        }

</style>
    <h5>{{message}}</h5>

</div>

{% endfor %}

<div class="login-box">

<form action="{% url 'core:login' %}" method="post">
 {% csrf_token %}  

 <h1 class="h3 mb-3 fw-normal">Please Log in</h1>

 <div class="form-floating">
   <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Enter your username">
   <label for="floatingInput">Username</label>
 </div>
 
 <div class="form-floating">
   <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
   <label for="floatingPassword">Password</label>
 </div>

 <div class="form-check text-start my-3">
   <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
   <label class="form-check-label" for="flexCheckDefault">
     Remember me?
   </label>
 </div>
 <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>

</form>
</div>
<!--
<input class="inp" type="text"  placeholder="">&nbsp;&nbsp;
    <br><br>
    <input type="password"  placeholder="enter your password">&nbsp;&nbsp;
    <br><br><button type="submit">Log in</button>
-->
{% endblock content %}