{% extends "core/base.html" %}
{%  load static %}
{% block content %}

<style>
    .alternative{
        padding: 10px;
        padding-left: 20%; 
        height: 50px;
        background-color: rgb(250, 20, 20,70%);
        color: aliceblue;
    }
</style>


<div class="container">

<!-- <div class="ad-container">
    <script type="text/javascript">
        atOptions = {
            'key' : 'd5c793f03ee44fd43e39552004c2f345',
            'format' : 'iframe',
            'height' : 200,
            'width' : 468,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/d5c793f03ee44fd43e39552004c2f345/invoke.js"></scr' + 'ipt>');
    </script>

</div> 

<hr>-->
    <div class="match-briefing">
        <div>
        <img src="{% static match.team1Logo %}" width="100" height="100" alt="team 1">
        <h6 class="txt-align-c">{{match.team1}}</h6>
        </div>
        
        <span>VS</span>
        
        <div>
        <img src="{% static match.team2Logo %}" width="100" height="100" alt="team 2">
        <h6 class="txt-align-c">{{match.team2}}</h6>
        </div>
    </div>



<a href="{{match.match_link}}" target="_blank">
<div class="forward-to">
    <h4>CLICK HERE TO WATCH NOW</h4>
</div>
</a>
    <hr>
<a href="{{match.id}}/alt-links">
    <h6 class="txt-align-c alternative"><i class="fa fa-random" style="color: goldenrod;"></i> Alternative Links</h6>
</a>
    <!-- <div class="alternative-links">
        <h6><i class="fa fa-question-circle-o" style="color: goldenrod;"></i> Alternative Links</h6>
        <ul>
            <a href="{{match.alt_link1}}" style="color: white;"><li><i class="fa fa-hand-o-right" style="color: white;"></i> Try here</li>
            </a>

            <a href="{{match.alt_link2}}" style="color: white;"><li><i class="fa fa-hand-o-right" style="color: white;"></i> Try here</li>
            </a>
        </ul>
    </div> -->
        <hr>

<div class="whatsapp-links">
    <h5>Join Us on Whatsapp to stay updated</h5>
    <ul>
    <li><a href="https://www.whatsapp.com/channel/0029VaRR6r905MUZoEIM6K3X?fbclid=IwAR1JpeEgYN3ZLi4zaTTp57BgMDZVccgawcbsQyP610tBrDCLN2Pmqqaqr3o"><i class="fa fa-whatsapp"></i> Whatsapp Channel</a></li>
</ul>
</div>
       <hr>

<div class="ad-container">

    <script type="text/javascript">
      atOptions = {
        'key' : '662e96a88623668190acf93d96b736c7',
        'format' : 'iframe',
        'height' : 90,
        'width' : 320,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/662e96a88623668190acf93d96b736c7/invoke.js"></scr' + 'ipt>');
    </script>
</div>    

<h4 class="fst-italic" style="margin-top:1rem;">Recent posts</h4>
{% for post in recent_posts %}
<ul class="list-unstyled">
  <li>
    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'core:post' post.category.name post.id %}">
      <!-- <img id="main-post-img" src="{{post.cover_image.url}}" width="100%" height="50%" > -->
      <img id="main-post-img" src="{% static post.cover_image %}" width="100%" height="50%" alt="recent post image">
      <!--
    <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      --><div class="col-lg-8">
        <h6 class="mb-0">{{post.title}}</h6>
        <small class="text-body-secondary">{{post.date_added |date:'M d, Y'}}</small>
      </div>
    </a>
  </li>  
</ul>
{% endfor %}

<div>

{% endblock content %}