{% extends "core/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<main class="container">
  <script type="text/javascript">
    atOptions = {
      'key' : '3bbefe8c4def4033015ff7cf3bca1f1d',
      'format' : 'iframe',
      'height' : 250,
      'width' : 300,
      'params' : {}
    };
    document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/3bbefe8c4def4033015ff7cf3bca1f1d/invoke.js"></scr' + 'ipt>');
  </script>

<div class="my-5">

    <div class="p-5 text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis">
            {{post.title}} - {{post.date_added |date:'M d, Y'}}
            <h4>posted by 
                 <em>{{post.owner}}</em>
                </h4>
            <small>
                {% if user.is_authenticated %}
                {% if user.username == 'denzel' %}
                <a href="{% url 'core:edit_post' post.id %}">
                    <i class="fa fa-edit"> Edit Post</i>
                </a>
                {% endif %}
                {% endif %}    
            </small>
        </h1>
        <!-- <img id="main-post-img" src="{{post.cover_image.url}}" width="100%" height="100%"/> -->
        <img id="main-post-img" src="{% static post.cover_image %}" width="100%" height="100%" alt="post cover image">
        <p class="col-lg-8 mx-auto lead">
            {{post.text | safe}}
        </p>
        {% if post.bodyImage %}
        <!-- <img src="{{post.bodyImage.url}}" width="100%" height="300%"/> -->
        <img src="{% static post.body_image %}" width="100%" height="100%" alt="post body image">
        {% endif %}
      </div>
    </div>
  </div>
  <div>

    <div class="ad-container">
      <script type="text/javascript">
        atOptions = {
          'key' : '1603c8f936443cd783162a0fb28fcffc',
          'format' : 'iframe',
          'height' : 300,
          'width' : 160,
          'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/1603c8f936443cd783162a0fb28fcffc/invoke.js"></scr' + 'ipt>');
      </script>
      </div>

    <h4 class="fst-italic">Recent posts</h4>
    {% for post in recent_posts %}
    <ul class="list-unstyled">
      <li>
        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'core:post' post.category.name post.id %}">
          <!-- <img id="main-post-img" src="{{post.cover_image.url}}" width="100%" height="50%" > -->
          <img id="main-post-img" src="{% static post.cover_image %}" width="100%" height="50%" alt="recent post image">
          <!--
        <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          --><div class="col-lg-8">
            <h6 class="mb-0">{{post.title}}</h6>
            <small class="text-body-secondary">{{post.date_added |date:'M d, Y'}}</small>
          </div>
        </a>
      </li>  
    </ul>
    {% endfor %}
  </div>
  </main>
  
{% endblock content %}